torch==2.3.1
torchvision==0.18.1
transformers==4.42.3
diffusers==0.29.2
accelerate==0.32.1
insightface
opencv-python
pandas
numpy
safetensors
einops
onnxruntime-gpu
spaces
omegaconf
peft
huggingface-hub
opencv-python
controlnet_aux
gradio
gdown
peft
denku